* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    display: block;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0a0a23;
    color: #ffffff;
}

main{
    
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding: 10px 0;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.palindrome-section{
    width:min(100vw, 500px);
    min-height: 100px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 6px 6px #002ead;
}

label{
    color:#0a0a23;
    margin-bottom: 20px;
}

.palindrome-input{
    border: none;
    border-bottom: 2px solid #5a01a7;
    margin: 10px;
    text-align: center;
    height:30px;
    width: 250px;
    font-size: 1.2rem;
    transition: .25s ease-in-out;
}

.palindrome-input:focus {
    
    border-bottom: 3px solid #5a01a7;
    width:255px;
    height: 33px;
}

.palindrome-btn{
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 15px;
    color:#ffffff;
    background-color: #5a01a7;
    width: 90px;
}

.palindrome-btn:hover{
    opacity: .9;
}

.palindrome-btn:active{
    filter: brightness(.9);
}

.result-div{
    color: #0a0a23;
    min-height: 50px;
}

.user-input{
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
}

.palindrome-info{
    width:min(100vw, 500px);
    min-height: 140px;
    background-color: #004700;
    border-radius: 20px;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
